*{
    padding: 0px;
    font-family: tahoma;
    -webkit-flex: 1;
    
}
#cointainer{
    margin-top: 50px;
    margin: auto;
    width: 30%;
    padding: 0px;
    border: 1px solid black;
    border-radius: 25px ;
    height: 500px;
   
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}
#mytext{
    width: 50ppx;
    font-size: 40px;
    position: absolute;
    font-family: tahoma;
    color: white;
    top: 40px;
    left: 340px;
    -webkit-flex: 1;
}
#top{
    width: auto;
    border: 3px solid none;
    height: 250px;
    padding: 0px;
    border-radius: 25px 25px 0 0;
     background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
}
#bottom{
    width: auto;
    border: 3px solid none;
    height: 240px;
    padding: 0px;
    border-radius: 0px 0px 25px 25px;
    
}
#myimg{
    position: relative;
    width: 170px;
    top: 20px;
    left: 180px;
}
p{
    padding: 5px;
}
#fb{
    position: relative;
    margin-left: 15px;
    width: 40px;
    -webkit-flex: 1;
}
#insta{
    width: 40px;
    margin-left: 15px;
    -webkit-flex: 1;
}
#wa{
    width: 40px;
    margin-left: 15px;
    -webkit-flex: 1;
}