#clockcontainer{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.8%;
    opacity: 0.8;
}
#minute{
    width: 1%;
    height: 29%;
    top: 21%;
    left: 49.2%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;
}